<h1>Hi <%= name %></h1> <!-- Greeting message with user's name -->
<form action="/logout?_method=DELETE" method="POST"> <!-- Logout form -->
  <button type="submit">Log Out</button> <!-- Logout button -->
</form>