<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %> <!-- Display error message if exists -->
<% } %>
<form action="/login" method="POST"> <!-- Login form -->
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required> <!-- Email input field -->
     </div> 
     <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required> <!-- Password input field -->
     </div>
     <button type="submit">Login</button> <!-- Login button -->
</form>
<a href="/register">Register</a> <!-- Link to register page -->